<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>proweb.proweb1socialmedia.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>proweb.proweb1socialmedia.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>proweb.proweb1socialmedia.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publicaciones</servlet-name>
        <servlet-class>proweb.proweb1socialmedia.Publicaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowImage</servlet-name>
        <servlet-class>proweb.proweb1socialmedia.ShowImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowImagePost</servlet-name>
        <servlet-class>proweb.proweb1socialmedia.ShowImagePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowImageUser</servlet-name>
        <servlet-class>proweb.proweb1socialmedia.ShowImageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Like</servlet-name>
        <servlet-class>proweb.proweb1socialmedia.Like</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publicaciones</servlet-name>
        <url-pattern>/Publicaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowImage</servlet-name>
        <url-pattern>/ShowImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowImagePost</servlet-name>
        <url-pattern>/ShowImagePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowImageUser</servlet-name>
        <url-pattern>/ShowImageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Like</servlet-name>
        <url-pattern>/Like</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
